<h1>Log In</h1>
<form action="/login" method="POST">
    <p><label for="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="Required"></p>
    <p><label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Required"></p>
    <button id="submit" type="submit">Login</button>

</form>