<h1>Create Account</h1>
<h3 style="color:#FF0000";>Your account must include a valid username and password.</h3>
<form action="/signup" method="POST">
    <p><label for="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="Required"></p>
    <p><label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Required"></p>
    <button id="submit" type="submit">Create Account</button>

</form>